.page-hero {
    position: relative;
    background-image: linear-gradient(to right,
    rgba(0, 0, 0, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../imeges/Overlay/img@1x_mob.webp);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.4),
            rgba(47, 48, 58, 0.4)),url('../imeges/Overlay/img@2x_mob.webp');
    } 

    @include mq(tab-only) {
    background-image: linear-gradient(to right,
    rgba(0, 0, 0, 0.4),
    rgba(47, 48, 58, 0.4)),url('../imeges/Overlay/img@1x_tab.webp');
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(to right,
    rgba(0, 0, 0, 0.4),
    rgba(47, 48, 58, 0.4)),url('../imeges/Overlay/img@2x_tab.webp');   
    }
    }

        @media screen and (max-width: desk) {
    background-image: linear-gradient(to right,
    rgba(0, 0, 0, 0.4),
    rgba(47, 48, 58, 0.4)),url('../imeges/Overlay/img@1x_desk.webp');
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(to right,
    rgba(0, 0, 0, 0.4),
    rgba(47, 48, 58, 0.4)),url('../imeges/Overlay/img@2x_desk.webp');
    }
    }


    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
    @include mq(tab) {
    background-size: cover;
    }
    @include mq(desk){
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    }
}
.page-hero__title {
    @include fonts(26px, 900, 1.615, 0.06em);
    margin-bottom: 30px;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    color: $primery-bg-cl;
    text-transform: uppercase;
    @include mq(desk) {
    @include fonts(44px, 900, 1.363, 0.06em ); 
    max-width: 690px;
    }
}
