.page-team {
    @extend %section;
    background-color: $portfolio-btn-cl;
}
.page-team__list{
    @extend %reset-list;
    @include card-set;
}
.page-team__item {
    @include card-item(4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.page-team__content {
    padding: 30px;
    text-align: center;
    background-color: $primery-bg-cl;
}

.page-team__title {
    @include fonts(16px, 500, 1.187);
    margin-bottom: 10px;
    color: $title-text-cl;
}
.page-team__specialty {
    @include fonts(16px, null, 1.187);
}
.page-team__specialty {
    margin-bottom: 16px;
}